.section {
  position: relative;
  overflow: hidden;
}

.container {
  width: 1111px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.aboutUs {
  /* width: 1111px; */
  /* height: 480px; */
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  margin-bottom: 160px;
}

.aboutUs .content {
  width: 635px;
  padding-left: 93px;
  padding-top: 135px;
  background-color: var(--pry_P);
}
.aboutUs .content h1 {
  position: relative;
  z-index: 1;
  color: var(--pry_W);
  margin-bottom: 32px;
}
.aboutUs .content p {
  position: relative;
  z-index: 1;
  color: var(--pry_W);
  width: 458px;
}

.aboutUs .image {
  position: relative;
  z-index: 1;
  width: 476px;
  height: 480px;
  background-image: url(/image-about-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutUs .pattern {
  position: absolute;
  bottom: 0;
}

.worldClass {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  margin-bottom: 160px;
}
.worldClass .content {
  position: relative;
  width: 635px;
  padding-left: 94px;
  padding-top: 154px;
  background-color: #fdf3f0;
}
.worldClass .content h2 {
  color: var(--pry_P);
  margin-bottom: 24px;
}
.worldClass .content p {
  color: var(--pry_B);
  width: 445px;
}
.worldClass .image {
  position: relative;
  z-index: 1;

  width: 476px;
  height: 640px;

  background-image: url(/image-world-class-talent.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.worldClass .content .pattern {
  position: absolute;
  bottom: 0;
  left: -150px;
}

.realDeal {
  /* width: 1111px;
  height: 640px; */
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.realDeal .content {
  position: relative;
  width: 635px;
  padding-left: 95px;
  padding-top: 154px;
  background-color: #fdf3f0;
}
.realDeal .content h2 {
  color: var(--pry_P);
  margin-bottom: 24px;
}
.realDeal .content p {
  color: var(--pry_B);
  width: 445px;
}
.realDeal .content .pattern {
  position: absolute;
  left: 0;
  bottom: 0;
}
.realDeal .image {
  width: 476px;
  height: 640px;
  background-image: url(/image-real-deal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.leafPattern {
  position: absolute;
  top: 320px;
  left: 0;
}
.leafPattern2 {
  position: absolute;
  top: 1622px;
  right: -400px;
}

@media (max-width: 1200px) {
  .aboutUs {
    flex-direction: column-reverse;
    height: auto;
  }
  .aboutUs .content {
    height: 312px;
    width: auto;
    padding: 0;
    padding-top: 64px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutUs .content p {
    text-align: center;
  }
  .aboutUs .image {
    height: 320px;
    width: auto;
    background-image: url(/image-about-hero-tablet.jpg);
  }

  .worldClass {
    flex-direction: column;
    height: auto;
  }
  .worldClass .content {
    width: auto;
    padding: 0;
    padding-top: 64px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .worldClass .content p {
    text-align: center;
  }
  .worldClass .image {
    height: 416px;
    width: auto;
    background-image: url(/image-world-class-talent-tablet.jpg);
  }
  .realDeal {
    flex-direction: column-reverse;
    height: auto;
  }
  .realDeal .content {
    width: auto;
    padding: 0;
    padding-top: 64px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .realDeal .content p {
    text-align: center;
  }
  .realDeal .image {
    height: 416px;
    width: auto;
    background-image: url(/image-real-deal-tablet.jpg);
  }
}

@media (max-width: 550px) {
  .container {
    max-width: 100%;
  }
  .aboutUs,
  .worldClass,
  .realDeal {
    border-radius: 0;
    margin-bottom: 0;
  }
  .content {
    height: auto !important;
  }
  .content p {
    padding-left: 24px !important;
    padding-right: 24px !important;
    width: auto !important;
  }
  .aboutUs .image {
    height: 320px;
    background-image: url(/image-about-hero-mobile.jpg);
  }
  .aboutUs h1 {
    font-size: 32px;
  }
  .aboutUs p {
    font-size: 15px;
  }
  .worldClass {
    margin-bottom: 120px;
  }
  .worldClass .image {
    height: 320px;
    background-image: url(/image-world-class-talent-mobile.jpg);
  }
  .worldClass h2 {
    font-size: 32px;
  }
  .worldClass p {
    font-size: 15px;
  }
  .realDeal .image {
    height: 320px;
    background-image: url(/image-real-deal-mobile.jpg);
  }
  .realDeal h2 {
    font-size: 32px;
  }
  .realDeal p {
    font-size: 15px;
  }
}
