.btn {
  border-radius: 8px;
  padding: 18px 25px 16px 24px;
  font-family: "Jost", sans-serif;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.pry {
  background-color: var(--pry_W);
  color: var(--sec_B);
}
.pry:hover {
  background-color: var(--sec_P);
  color: var(--pry_W);
}

.sec {
  background-color: var(--pry_P);
  color: var(--pry_W);
}
.sec:hover {
  background-color: var(--sec_P);
  color: var(--pry_W);
}
