.cta {
  position: relative;
}

.container {
  position: absolute;
  top: -364px;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
  width: 100%;
}
/* .container {
  position: relative;
} */

.flex {
  background-color: var(--pry_P);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 72px 96px 72px 95px;
}

.content {
  width: 459px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.btnWrapper {
  position: relative;
  z-index: 1;
}

.content h2 {
  width: 292px;
  margin-bottom: 20px;
  color: var(--pry_W);
}
.content p {
  color: var(--pry_W);
}

.pattern {
  position: absolute;
  top: -146px;
  right: 0;
}

@media (max-width: 960px) {
  .container {
    top: -460px;
  }
  .flex {
    flex-direction: column;
    align-items: center;
  }
  .content {
    align-items: center;
  }
  .content h2 {
    text-align: center;
  }
  .content p {
    margin-bottom: 32px;
    text-align: center;
  }
  .flex {
    padding-top: 57px;
  }
}

@media (max-width: 600px) {
  .content p {
    width: 280px;
  }
  .flex {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 400px) {
  .content p {
    font-size: 15px;
    width: 250px;
  }
  .content h2 {
    font-size: 32px;
  }
}
