.gridItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.overlay:hover {
  background-color: rgba(231, 130, 107, 0.8);
  cursor: pointer;
}

.overlay div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.overlay h1 {
  color: var(--pry_W);
  margin-bottom: 24px;
  text-transform: uppercase;
}
.overlay p {
  color: var(--pry_W);
  letter-spacing: 5px;
}
