.container {
  width: 1111px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.canada,
.australia {
  margin-bottom: 32px;
}

.content {
  position: relative;
  background-color: #fdf3f0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 326px;
  padding-top: 88px;
  padding-left: 95px;
  padding-right: 95px;
}

.content h1 {
  color: var(--pry_P);
  margin-bottom: 24px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper :nth-child(1) {
  margin-right: 60px;
}

.pattern {
  position: absolute;
  bottom: 0;
  left: 0;
}

.image {
  width: 350px;
  height: 326px;
}

@media (max-width: 1000px) {
  .canada,
  .australia,
  .uk {
    grid-template-columns: 1fr !important;
    row-gap: 31px;
  }

  .canada .content {
    grid-row: 2/3;
  }
  .uk .content {
    grid-row: 2/3;
  }
  .content h1 {
    align-self: center;
  }
  .image {
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
  }

  .canada,
  .australia,
  .uk {
    row-gap: 0;
  }

  .content {
    align-items: center;
    border-radius: 0;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .image {
    border-radius: 0;
  }

  .content h1 {
    font-size: 32px;
    text-align: center;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .wrapper p {
    text-align: center;
  }
  .wrapper :nth-child(1) {
    margin: 0;
    margin-bottom: 24px;
  }
}
