.nav {
  position: sticky;
  top: 0;
  background-color: var(--pry_W);
  z-index: 3;
  padding-top: 64px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.navLink {
  margin-left: 42px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  color: var(--sec_B);
}

.navLink:hover {
  border-bottom: 1px solid var(--sec_B);
}

.hamMenu {
  display: none;
}

@media (max-width: 800px) {
  .backDrop {
    position: fixed;
    top: 96px;
    left: 0;
    /* padding-top: 96px; */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    width: 100vw;
    height: 100vh;
  }
  .nav {
    /* position: sticky; */
    padding-top: 35px;
    margin-bottom: 34px;
  }
  .navLinks {
    position: absolute;
    z-index: 3;
    left: 0;
    /* top: 96px; */
    padding-top: 48px;
    padding-bottom: 48px;
    width: 100%;
    background-color: var(--sec_B);
    display: flex;
    flex-direction: column;
  }
  .navLink {
    margin-left: 0;
    color: var(--pry_W);
    font-size: 24px;
    line-height: 25px;
    text-align: center;
  }
  .navLink:nth-child(2) {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .hamMenu {
    display: block;
  }
  .hamMenu:hover {
    cursor: pointer;
  }
}
